---
title: Herring Cove
---
{% include showcase.html %}
{% include greeting.html %}

  <div class="container">

  <!--  <div id="article">
      <h1>Links</h1>
      <p>I find a wide variety of things interesting and/or useful on the web. These are just some of them.</p>
      <br>
      <center>
      <a href="#fashion"><span class="label label-danger fashion-button">Fashion</span></a>
      <a href="#programming"><span class="label label-danger programming-button">Programming</span></a>
      <a href="#tech"><span class="label label-danger tech-button">Tech & Gadgets</span></a>
      <a href="#misc"><span class="label label-danger misc-button">Misc</span></a>
      <a href="#misc"><span class="label label-danger podcasts-button">Podcasts</span></a>
      </center>
      <br>
    </div> -->
    <a name="experience">
    <div id="article" class="content">
      <h2>Experience</h2>
	  <br>
      <table class="table table-condensed" style="width:100%">
        <tbody>
          <tr>
            <td style="padding:30px 15px 30px 15px">
              <p><img src="{{ site.baseurl }}/images/ericsson.jpg" alt="Ericsson logo"></p>
            </td>
            <td style="width:80%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Software Developer Co-op &nbsp;&ndash;&nbsp; Ericsson Inc.</p>
<!--			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> </li>
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> </li>
			  </ul>
-->
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">MAY 2020</p>
			</td>
          </tr>
          <tr>
            <td style="padding:30px 15px 30px 15px">
              <p><img src="{{ site.baseurl }}/images/carleton.jpg" alt="Carleton University logo"></p>
            </td>
            <td style="width:80%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Teaching Assistant &nbsp;&ndash;&nbsp; Carleton University</p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> TA for COMP1406, Introduction to Computer Science II (Objected-Oriented Programming)</li>
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Graded exams and conducted tutorials and office hours</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">JAN 2020<br>APR 2020</p>
			</td>
          </tr>
          <tr>
            <td style="padding:30px 15px 30px 15px">
              <p><img src="{{ site.baseurl }}/images/dnd.jpg" alt="DND logo"></p>
            </td>
            <td style="width:80%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Real Property Portfolio Analyst Student &nbsp;&ndash;&nbsp; Department of National Defence</p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Critically reviewed project and business documentation for the construction of new defence infrastructure</li>
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Digitized and centralized archive of physical documents using Microsoft Sharepoint and GCDocs</li>				
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Addressed client specifications and concerns in bi-weekly meetings regarding policy and project budgeting</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">SEP 2018<br>DEC 2018</p>
			</td>
          </tr>
		  <tr>
            <td style="padding:30px 15px 30px 15px">
              <p><img src="{{ site.baseurl }}/images/stats.jpg" alt="Statistics Canada logo"></p>
            </td>
            <td style="width:80%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Research Assistant &nbsp;&ndash;&nbsp; Statistics Canada</p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Conducted diagnostic and UI testing on a new web-portal for the purchase and usage of biological specimens by Canadian and international researchers</li>
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Assisted in the addition of new tests to the laboratory assessments in future cycles by producing research reports on oral and gut microbiomes</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">MAY 2018<br>AUG 2018</p>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
	<br>

    <a name="projects">
    <div id="article" class="content">
      <h2>Projects</h2>
	  <br>
      <table class="table table-condensed" style="width:100%">
        <tbody>
          <tr>
            <td style="width:92.5%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Online Bookstore</p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Class project, <a href="https://github.com/harold-lu/COMP3005PROJECT">view the github repository here</a></li>
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Languages and Technologies: PostgreSQL, JavaScript, PUG, HTML, CSS, Node.js, Express.js, Python</li>
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Built mock online bookstore where users can browse, checkout, and purchase books and provides shipping/tracking information for their orders</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">APR 2020</p>
			</td>
          </tr>
          <tr>
            <td style="width:92.5%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Healthcorner.blog, Healthcare Information in Canada</p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Visit the site at: <a href="http://healthcorner.blog/zh"/>healthcorner.blog</a></li>
			    <li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Designed and built the website using WordPress, HTML, and CSS, with over 4000 site visitors</li>
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Provides a simple interface for users to browse consolidated healthcare information from accredited government websites translated to simplified chinese</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">MAY 2018<br>FEB 2020</p>
			</td>
          </tr>
          <tr>
            <td style="width:92.5%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Data Analytics Web Application</p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> cuHacking project, <a href="https://github.com/harold-lu/murdr-solvr">view the github repository here</a></li>
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Languages and Technologies: Python, JavaScript, HTML, CSS, Node.js, Express.js</li>				
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Organizes and analyzes JSON data and outputs file in CSV format for user to download</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">JAN 2020</p>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
	<br>


    <div id="article"class="content">
      <a name="education">
      <h2>Education</h2>
	  <br>
      <table class="table table-condensed" style="width:100%">
        <tbody>
          <tr>
            <td style="width:92.5%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Honours Bachelor of Computer Science &nbsp;&ndash;&nbsp; <span style="font-weight:450">Carleton University</span></p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
				<li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Third Year Undergraduate, CGPA 11.6/12.0 (A)</a></li>
				<li><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Expected graduation: APR 2022</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">SEP 2019<br>APR 2022</p>
			</td>
          </tr>
          <tr>
            <td style="width:92.5%;padding:30px 15px 30px 15px">
              <p style="color:#2e2e2e;font-size:19px;font-weight:600">Honours Bachelor of Science &nbsp;&ndash;&nbsp; <span style="font-weight:450">University of Ottawa</span></p>
			  <ul  class="fa-ul" style="font-size:19px;font-weight:450;color:#2e2e2e;padding:0px">
			    <li style="padding-bottom:5px"><span class="fa-li"><i class="fa fa-chevron-right" style="padding-right:10px;color:#324C79"></i></span> Specialization in Medicinal Chemistry, with Co-op; Graduated Magna Cum Laude</li>
			  </ul>
			</td>
            <td style="padding:30px 0px 30px 0px">
			  <p style="color:#324C79; font-size:15px;font-weight:500;padding:0px 0px 0px 15px;text-align:right">SEP 2014<br>APR 2019</p>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
	<br>

    <div id="article"class="content">
      <a name="lang">
      <h2>Languages & Technologies</h2>
	  <br>
      <table class="table table-condensed" style="width:100%">
        <tbody>
          <tr style="font-size:55px;text-align:center">
            <td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-cplusplus-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">C++</p>
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-c-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">C</p>				
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-javascript-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">JavaScript</p>				
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-python-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">Python</p>				
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-java-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">Java</p>				
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-postgresql-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">PostgreSQL</p>				
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-html5-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">HTML5</p>				
			</td>
			<td style="padding:30px 5px 30px 5px;width:12.5%">
				<i class="devicon-css3-plain" style="color:#2e2e2e"></i>
				<p style="font-size:15px;font-weight:600;color:#2e2e2e">CSS3</p>				
			</td>			
          </tr>
        </tbody>
      </table>
    </div>

  </div>

